<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <style>
  #nombre {
    background-color: gray;
    font-family: arial;
    text-align: center;
    padding: 5%;
    margin-top: 0px;

  }
  </style>
  <h1 id="nombre">Welcome to Welcome</h1>
    <%= yield %>
  </body>
</html>
